/** @format */

/* Main news */

/* NewslistContainer */
.newslistContainer {
  width: 60%;
  margin: 0 auto;
}

.newslistContainer ul {
  list-style: none;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
}

.newslistContainer ul li {
  display: flex;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

li + li {
  margin-top: 10px;
}

.metadata {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.imageContainer {
  flex: 1;
}

.imageContainer img {
  max-width: 80%;
  height: 60%;
}

.details {
  flex: 1;
}

.introduction {
  display: inline-block;
  flex: 2;
  position: relative;
}

.introduction a {
  color: black;
  text-decoration: none;
  position: absolute;
  display: inline-block;
}

.headline {
  margin: 0;
  font: 1em;
  font-weight: 650;
}

.subtitle {
  font-style: italic;
  color: #989898;
}
