/** @format */
.newslistContainer {
  position: absolute;
}

.newslistContainer ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.newslistContainer ul li {
  display: flex;
  background-color: rgb(251, 251, 251);
  position: relative;
  white-space: nowrap;
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 0px;
}

li + li {
  margin-top: 10px;
}

/* News Section */
.newsSection {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  position: absolute;
  flex: 1;
}

.pic {
  position: absolute;
  flex: 2;
}

.introduction {
  position: absolute;
}
/* .metadata {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.metadata img {
  max-width: 70%;
  height: auto;
}

.introduction {
  display: flex;
  flex: 2;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.introduction div {
  position: relative;
}

.introduction a {
  color: black;
  text-decoration: none;
  position: absolute;
}

.introduction a p {
  margin: 0;
  display: inline-grid;
}

.subtitle {
  font-style: italic;
  color: #989898;
  text-overflow: ellipsis;
}
 */
