.latestNews {
  display: flex;
  flex-direction: column;
}

.latestNews img {
  width: 100%;
}

.latestNewsTitle {
  display: flex;
  float: right;
  width: 50%;
  transform: translate(-0%, -50%);
  background-color: #fff;
  padding: 18px 0 0 25px;
}

.latestNews span {
  font-size: 150%;
  font-weight: 650;
}
