/** @format */
.contentContainer {
  display: flex;
}

.sideMenu {
  flex: 2;
}

.content {
  flex: 5;
}

.sideMenu ul {
  list-style: none;
  position: fixed;
  padding: initial;
  margin-top: 1rem;
}

.sideMenu ul li {
  padding: 10px;
  display: flex;
  align-items: center;
}

.sideMenu ul li + li {
  border-top: thin solid rgba(0, 0, 0, 0.157);
}

.sideMenu li:hover {
  color: #e84747;
}

.subSection {
  border-top: 1px #eee solid;
  padding: 1rem;
}

.subSection:first-child {
  border-top: none;
}
