/** @format */

.header {
  background: #204290;
}

.headerContainer {
  display: flex;
}

.logoContainer {
  flex: 2;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.secondMenu {
}

.secondMenu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 60%;
  font-weight: 500;
}

.secondMenu ul li {
  margin: 0.5rem;
}

.secondMenu a {
  text-decoration: none;
  color: #000;
}

.secondMenu a:hover {
  color: #e84747;
}
