/** @format */

.header {
  background: #204290;
}

.headerContainer {
  display: flex;
}

.logoContainer {
  flex: 2;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.secondMenu {
  background-color: white;
}

.secondMenu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 60%;
}
