/** @format */

.title {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(186, 186, 186);
}

.imageContainer img {
  width: 100%;
}

.imageContainer ul {
  display: flex;
}

.imageContainer li {
  flex: 1;
}
