/** @format */

.title {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(186, 186, 186);
}

.imageContainer {
  position: absolute;
}

.multipImgContainer img {
  width: 80%;
}

.singleImgContainer {
  width: 60%;
  margin: 0 auto;
}

.singleImgContainer img {
  width: 100%;
}

.textContainer {
  white-space: pre-line;
}
