/** @format */

.title {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(186, 186, 186);
}

.imageContainer {
}

.multipImgContainer img {
  width: 100%;
}

.singleImgContainer {
  width: 60%;
}

.singleImgContainer img {
  width: 100%;
}
