/** @format */
@import "../../header/Header.scss";

.news-container {
  width: 60%;
  margin: 0 auto;
  @media screen and (max-width: 960px) {
    width: 90%;
  }
  .posts-container {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      @media (max-width: 960px) {
        flex-direction: column;
      }

      .image-container {
        padding-right: 1rem;

        display: flex;
        align-items: center;
        img {
          width: 15rem;
          @media (max-width: 960px) {
            width: 100%;
          }
        }
      }
      .intro-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h4 {
          margin: 0;
        }
      }
    }
    li + li {
      border-top: 1px solid #989898;
    }
  }

  .pagination {
    list-style: none;
    display: flex;
    justify-content: center;

    a {
      padding: 5px 10px;

      color: black;
      cursor: pointer;
      &:hover {
        color: white;
        background-color: $lBlue;
      }
    }

    .paginationActive {
      a {
        color: white;
        background-color: $lBlue;
      }
    }
    .paginationDisabled {
      a {
      }
    }
  }
}
