/** @format */
@import "./Header.scss";

.dropdown {
  overflow: hidden;
  height: auto;
  list-style: none;
  padding: 0;

  // Mobile
  @media screen and (max-width: 960px) {
    background-color: $blue;
    .dropdown-item {
      padding: 1rem 3rem;
      background-color: $dBlue;
      a {
        color: black;
      }
      button {
        background-color: $dBlue;
      }
    }
  }

  // Desktop
  @media screen and (min-width: 960px) {
    position: absolute;

    width: 100%;
    left: 0;
    top: 4rem;
    display: flex;
    justify-content: center;
    background-color: $dBlue;

    .dropdown-item {
      button {
        background-color: $dBlue;
        height: 2.5rem;
        padding: 0 1rem;
        a {
          color: white;
          text-decoration: none;
          font-size: medium;
        }
      }
    }
    li:after {
      content: "/";
      color: #ffffff70;
    }
    li:last-child:after {
      content: "";
    }
  }
}
