/** @format */

.background {
  background: #204290;
  z-index: 1;
}

.headerContainer {
  display: flex;
  flex-direction: column;
}

.logoContainer {
  flex: 2;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menu {
}
