/** @format */

.menuContainer {
  display: flex;
  align-items: center;
}

.menuContainer ul {
  list-style: none;
}

.mainMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: row;
  flex: 2;
  white-space: nowrap;
  justify-content: space-between;
}

.mainMenu > li {
  margin: 1rem;
}

.menuContainer a {
  color: white;
  text-decoration: none;
  text-align: center;
}

.menuContainer a:hover {
  color: #e84747;
}

.menuContainer button {
  background-color: #204290;
  border: none;
  color: white;
  outline: none;
}

.menuContainer button:hover {
  color: #e84747;
}

.hasSubMenu {
  display: flex;
}

.hasSubMenu ul {
  display: flex;
  flex-direction: row;
}
