/** @format */
body {
  font-family: "Roboto", sans-serif;
}

.header {
  position: relative;
  z-index: 100;
}

h1,
h4 {
  color: #204290;
}
h1 {
  font-size: 3em;
}
h4 {
  font-size: 1.2em;
}
p {
  font-weight: normal;
  color: #3f3f3f;
}
