:root {
  --heights: auto;
  --widths: 100%;
}

.slider {
  height: var(--heights);
  width: var(--widths);
  position: relative;
  margin: auto;
  overflow: hidden;
  .slicer-content {
    .slides {
      position: relative;
      height: var(--heights);
      width: var(--widths);
      .slide-image {
        width: 100%;
        height: 100%;
      }
      .description {
        position: absolute;
        bottom: 0;
        height: 30%;
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        // background-color: black;
        background-color: rgba(0, 0, 0, 0.6);
        &:hover {
          .slide-text {
            color: white;
          }
        }
        .slide-title {
          font: 24px/25px Georgia, Times, serif;
          margin: 0;
          color: white;
        }
        .slide-text {
          color: #bbb;
        }
      }
      //   .slide-image {
      //     width: 100%;
      //     height: 100%;
      //     position: absolute;
      //     object-fit: cover;
      //   }
      //   .slide-title, .slide-text {
      //     width: 100%;
      //     height: 100%;
      //     color: white;
      //     font-size: 50px;
      //     position: absolute;
      //     text-align: center;
      //     top: 40%;
      //     z-index: 10;
      //   }
    }
    .active {
      display: inline-block;
    }
    .inactive {
      display: none;
    }
  }

  .slider-arrows {
    .prev,
    .next {
      cursor: pointer;
      z-index: 100;
      position: absolute;
      top: 40%;
      width: auto;
      padding: 1rem;
      //   margin-top: -3rem;
      font-size: 40px;
      font-weight: bold;
      border-radius: 0px 5px 5px 0px;

      &:hover {
        color: white;
        background-color: rgba(0, 0, 0, 0.6);
        transition: all 0.5s ease-in;
      }
    }
    .next {
      right: 0;
      border-radius: 5px 0px 0px 5px;
    }
  }
}
